.container {
    display: flex;
    flex-direction: row;
    /* Somehow not having this makes it black in an iframe sometimes. */
    background-color: white;
}

#controls {
    height: 100vh;
    width: 400px;
    overflow-y: scroll;
    padding-right: 20px;
}
